---
os: linux
dist: bionic
language: ruby
cache:
  - bundler
before_install:
  - yes | gem update --system --force
  - gem install bundler
  - git clone https://github.com/trombik/build-in-vagrant-box
  - build-in-vagrant-box/bin/before_install.sh
addons:
  apt:
    update: true
    packages:
      - python-pip
      - curl
      - bridge-utils
      - dnsmasq-base
      - ebtables
      - libvirt-bin
      - libvirt-dev
      - qemu-kvm
      - qemu-utils
      - ruby-dev
install:
  - bundle install
rvm:
  - 2.4.9
  - 2.6.5
script:
  - gem build sensu-plugins-http.gemspec
  - gem install sensu-plugins-http-*.gem
  - bundle exec rake quick
  - bundle exec rake kitchen:ruby-`echo $TRAVIS_RUBY_VERSION | sed -e "s/\.//g"`-debian-8
  - mkdir dest
  - build-in-vagrant-box/bin/up.sh ${VAGRANT_BOX}
  - build-in-vagrant-box/bin/run.sh build.sh
  - build-in-vagrant-box/bin/download.sh dest
  - ls -alh dest
env:
  global:
    - KITCHEN_LOCAL_YAML=.kitchen.travis.yml
  jobs:
    - VAGRANT_BOX=trombik/ansible-freebsd-12.1-amd64
    - VAGRANT_BOX=trombik/ansible-ubuntu-18.04-amd64
